<nav class="navbar navbar-expand-xl" style="padding: 0;user-select: none;">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" id="/MA-s-personal-page/" onclick="location.href='/MA-s-personal-page/';">Home</li>

    <li class="nav-item" id="/MA-s-personal-page/education_and_positions" onclick="location.href='/MA-s-personal-page/education_and_positions';">Education and positions</li>

    <li class="nav-item" id="/MA-s-personal-page/teaching" onclick="location.href='/MA-s-personal-page/teaching';">Teaching</li>

    <li class="nav-item" id="/MA-s-personal-page/publications/" onclick="location.href='/MA-s-personal-page/publications/';">Publications</li>
    
    <li class="nav-item" id="/MA-s-personal-page/invited" onclick="location.href='/MA-s-personal-page/invited';">Invited lectures, plenaries, conferences</li>
  </ul>
</nav>