<nav class="navbar navbar-expand-xl" style="padding: 0;user-select: none;">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" id="/" onclick="location.href='/';">Home</li>
    <li class="nav-item" id="/education_and_positions" onclick="location.href='/education_and_positions';">Education and positions</li>
    <li class="nav-item" id="/teaching" onclick="location.href='/teaching';">Teaching</li>
    <li class="nav-item" id="/publications/" onclick="location.href='/publications/';">Publications</li>
    <li class="nav-item" id="/invited" onclick="location.href='/invited';">Invited lectures, plenaries, conferences</li>
  </ul>
</nav>