<div class="name">
  <h1>{{ site.data.general.personal.name }}</h1>
</div>
<div class="little" style="margin-bottom: 1.5em;">
  <img src="/assets/img/ava.jpg" height="150em">
</div>
<div class="position">
  <i class="fa fa-building-columns"></i> {{ site.data.general.personal.university }}, <b>{{ site.data.general.personal.position }}</b>
</div>
<div class="contacts">
  <div>
    <i class="fa fa-envelope"></i>
    <a class="email" href="mailto:nina.dobrushina@gmail.com"> {{ site.data.general.personal.email }}</a>
  </div>
</div>
<div class="cv">
  <i class="fa fa-file"></i> <a href="#" onclick="event.preventDefault();window.open('/CV_Michael_Daniel.docx')">CV</a>
</div>