.row {
  display: flex;
}

.column {
  float: left;
}

@font-face {
  font-family: 'Literata';
  src: url('../fonts/Literata-Regular.ttf'),
       url('../fonts/Literata-Bold.ttf'),
       url('../fonts/Literata-BoldItalic.ttf'),
       url('../fonts/Literata-Italic.ttf'),
       url('../fonts/Literata-Medium.ttf'),
       url('../fonts/Literata-MediumItalic.ttf'),
       url('../fonts/Literata-SemiBold.ttf'),
       url('../fonts/Literata-SemiBoldItalic.ttf');
}

body {
  font-family: 'Literata';
  padding-bottom: 7em;
}

.left {
  width: 26%;
  padding: 1%;
}

.right {
  width: 74%;
  padding: 1%;
}

.nav-item {
  margin-right: 1em;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

a {
  color: black;
  font-family: monospace, monospace;
}

a:hover {
  color: crimson;
}

.current {
  border-bottom: 0.1em solid crimson;
  text-decoration: none;
  color: crimson;
}

.navbar li:hover {
  border-bottom: 0.1em solid crimson;
  text-decoration: none;
  color: crimson;
  cursor: pointer;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: xx-large;
  margin-bottom: 1em;
}

h2, h3 {
  font-size: x-large;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 1em;
}

h3 {
  margin-top: 1em;
}

td {
  padding-bottom: 1em;
}

.contacts div, .position {
  margin-bottom: 0.5em;
}

td:first-child {
  font-weight: bold
}

.teaching li, .publications li {
  margin-bottom: 0.53em;
}

.main_body {
  margin: auto;
  width: 72%;
  margin-top: 3em;
}

.little {
  display: none;
}

@media screen and (max-width: 1500px) {
.main_body {
  width: 90%;
}
}

@media screen and (max-width: 950px) {
  .left {
    display: none;
  }
  .little {
    display: block;
  }
  .right {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: x-large;
    margin-bottom: 1em;
  }
  h2, h3 {
    font-size: large;
  }
  body {
    font-size: small;
  }

  ul {
    padding-left: 1.5em;
  }
}

.cv {
  padding-bottom: 1em;
}